body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 40px 10px
}

.puzzle {
  margin-top: 20px;
  background: #D0D0D0;
  border-radius: 3px;
  position: absolute;
}

.cell {
  position: absolute;
  background-color: #8AC858;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #D8FFBC;
  border-bottom-color:#83BE54;
  border-right-color: #83BE54;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.slider {
  -webkit-appearance: none; 
  -moz-appearance: none; 
       appearance: none;
  width: 100%;
  height: 8px;
  background: #D0D0D0;
  outline: none;
  border-radius: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #8AC858;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #8AC858;
  cursor: pointer;
  border-radius: 50%;
}

.shake {
  -webkit-animation: shake .6s ease-out both;
          animation: shake .6s ease-out both;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@keyframes shake {
  10% {
    -webkit-transform: translate(-5px, 0);
            transform: translate(-5px, 0);
  }

  20% {
    -webkit-transform: translate(5px, 0);
            transform: translate(5px, 0);
  }

  30% {
    -webkit-transform: translate(-4px, 0);
            transform: translate(-4px, 0);
  }

  40% {
    -webkit-transform: translate(4px, 0);
            transform: translate(4px, 0);
  }

  50% {
    -webkit-transform: translate(-3px, 0);
            transform: translate(-3px, 0);
  }

  60% {
    -webkit-transform: translate(3px, 0);
            transform: translate(3px, 0);
  }

  70% {
    -webkit-transform: translate(-2px, 0);
            transform: translate(-2px, 0);
  }

  80% {
    -webkit-transform: translate(2px, 0);
            transform: translate(2px, 0);
  }

  90% {
    -webkit-transform: translate(-1px, 0);
            transform: translate(-1px, 0);
  }
}